html {
    scroll-behavior: smooth;
}
body{
    min-height: 800px;
}

.logo {
    font-weight: 300;
    padding-left: 20px;
}
.parallax-container {
    height: 500px;
}
.parallax-container .parallax img {
    display: block;
    height: 400px;
    width: 100%;
}

.thin-text {
    font-weight: 300;
    border-radius: 5px;
}

.parallaxText {
    
    background: rgba(66,66,66, .7);
    padding: 30px!important;
}

#portfolioContainer {
    background: rgb(80, 91, 90);
    padding: 5%;
    margin: 0 auto;
}

#portfolioText {
    width: 100%;
    padding: 20px;
    background: rgba(66,66,66, .3);
    overflow: auto;
    border-radius: 10px;

}


.section-header {
    padding-top: 0px;
    margin-top: 0px;
    font-weight: 300;
    /* text-shadow: 1px 2px gray; */

}

.card {
    left: 10%;
    margin: 20px;
    height: 300px;
    width: 300px;
    border-radius: 10px;

}

.card-content {
    background: white;
}

.portfolioImages {
    height: 200px;
    width: 300px;
}

#aboutFluidContainer {
    padding: 5%;
    margin: 0 auto;
}

#aboutMeContainer {
    width: 100%;
    padding: 20px;
}
#aboutMePic {
    border-radius: 25px;
}

#aboutText {
    font-size: 16px;
}

#contactFluidContainer {
    padding: 5%;
    margin: 0 auto;
}

#contactText {
    width: 100%;
    padding: 20px;
}

.page-footer {
    background: #505B5A;
}